@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;       /* make body take full height */
  overflow: hidden;   /* prevent scrolling */
  font-family: var(--font-jetbrains), monospace; /* or Poppins */
  background-color: #000;
  color: #fff;
  line-height: 1.75;
}

.h1 {
  @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
}

.h2 {
  @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
}

.h3 {
  @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
}
/* Global image blend for black background */
.mix-blend-lighten {
  mix-blend-mode: lighten;
  background-color: black; /* ensures proper blending */
}
